body{
  /*background-image: url("../images/background.jpg");*/
  font-family: 'Old Standard TT', serif;
  text-align: center;
}

.container {
  background-color: aqua;
}

#name{
  padding-top: 15px;
  font-family: 'Old Standard TT', serif;
}
.paragraph{
  font-family: 'Old Standard TT', serif;
  background-color: aqua;
  margin-bottom: 10px;
  font: 35px;
  color: black;
}

.click{
  width:80px;
  height:80px;
}

.start {
  background-color: #9068be;
  color: #e1e8f0;
  font: 25px;
  margin-bottom: 50px;
}
.addition{
  font-size: 30px;
}
.total{
  font-size: 30px;
}

